nav {
  background-color: #2c3e50;
  font-weight: bold;
}

.nav-link {
  color: white;
}

.my_bg-green{
  background-color: #1abc9c;
  color: white;
}

#jumbo{
  text-transform: uppercase;
  font-weight: bold;
}

.avatar{
  height: 250px;
}

.my_line_w{
  height: 5px;
  background-color: white;
  border-radius: 50px;
}

.my_line_b{
  height: 5px;
  background-color: black;
  border-radius: 50px;
}

.fa-star{
  vertical-align: middle;
}

#portfolio h2{
  text-transform: uppercase;
}

.my_img{
  border-radius: 20px;
  overflow: hidden;
}

.my_img img{
  width: 100%;
}